root = true
[*.{kt,kts}]
max_line_length = 140
indent_size = 4
insert_final_newline = true
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_function_naming_ignore_when_annotated_with=Composable, Test
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

# https://pinterest.github.io/ktlint/1.1.0/faq/

# ktlint_standard = disabled # Disable all rules from the `standard` rule set provided by KtLint
# ktlint_standard_final-newline = enabled # Enables the `final-newline` rule in the `standard` rule set provided by KtLint
# ktlint_experimental = enabled # Enable rules marked as experimental for all rule sets that are enabled
# ktlint_standard_some-experimental-rule = disabled # Disables the (experimental) `some-experimental-rule` in the `standard` rule set provided by KtLint
# ktlint_custom-rule-set = enabled # Enable all rules in the `custom-rule-set` rule set (not provided by KtLint)
# ktlint_custom-rule-set_custom-rule = disabled # Disables the `custom-rule` rule in the `custom-rule-set` rule set (not provided by KtLint)

# insert_final_newline = false
# # Check detekt.yml file to customise max_line_length, ref.: https://detekt.dev/docs/rules/style/#maxlinelength
# max_line_length = off
# # Disable rules: https://pinterest.github.io/ktlint/rules/configuration-ktlint/#disabled-rules
# ktlint_standard_no-wildcard-imports = disabled
# ktlint_standard_import-ordering = disabled
# ktlint_standard_package-name = disabled
# ij_kotlin_allow_trailing_comma_on_call_site = false
# ij_kotlin_allow_trailing_comma = false